<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">

		
		
        <img  class="retina bg" src="../_common/images/<%= width %>x<%= height %>/bg.jpg"/>
        <!-- <img  class="retina bg" src="../_common/images/<%= width %>x<%= height %>/f3.jpg"/> -->
        
        
        <img  class="retina hide playa whole" src="../_common/images/<%= width %>x<%= height %>/playa_<%= type %>.png"/>
        <img  class="retina hide bg_cover" src="../_common/images/<%= width %>x<%= height %>/bg_cover.png"/>



        <img  class="flare flare1 hide" src="../_common/images/<%= width %>x<%= height %>/flare.png"/>
        <img  class="flare flare2 hide" src="../_common/images/<%= width %>x<%= height %>/flare.png"/>


        <img  class="retina proline proline_new" src="../_common/images/<%= width %>x<%= height %>/proline_new.png"/>
        <img  class="retina proline proline_plus" src="../_common/images/<%= width %>x<%= height %>/proline_plus.png"/>
        <img  class="retina proline proline_logo" src="../_common/images/<%= width %>x<%= height %>/proline_logo.png"/>
        
        <img  class="retina star" src="../_common/images/star.png"/>
		

        <p class="title color-green font-sport t1" id="t1a">THE PLUS SIDE</p>
        <p class="title color-grey font-sport t1" id="t1b">OF SPORTS BETTING IS HERE</p>



        <p class="title color-grey font-sport" id="t2"></p>
        <p class="title color-grey font-sport" id="t3"></p>
        <span class="title color-green font-sport" id="bonus"></span>
        <img  class="retina get" src="../_common/images/<%= width %>x<%= height %>/get.png"/>



        <img  class="retina" id="cta" src="../_common/images/<%= width %>x<%= height %>/cta.png"/>
        <img  class="retina" id="legal-btn" src="../_common/images/<%= width %>x<%= height %>/legal-btn.png"/>
        
		


        

        <% include ./legal %>
        <% include ./olg_logo %>

        

	</div>
	
	<div id="pn-bg-exit"></div>
	
</div>